# ==========================================
# DATOS DEL PROYECTO
# ==========================================

data/raw/*
data/processed/*

# Permitimos conservar carpetas vacías
!data/raw/.gitkeep
!data/processed/.gitkeep

# Datos de ejemplo pequeños sí podrán subirse
!data/sample/


# ==========================================
# JUPYTER
# ==========================================

.ipynb_checkpoints/


# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*.pyo


# ==========================================
# ENTORNOS Y CREDENCIALES
# ==========================================

.env
.env.*
venv/
.venv/
env/


# ==========================================
# LOGS
# ==========================================

logs/*
!logs/.gitkeep


# ==========================================
# SISTEMA OPERATIVO
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/